<div class="row">
    <div class="col-6">
        <ul class="list-group cities">
            <li class="list-group-item" (click)="onSearch('London')">Londres</li>
            <li class="list-group-item" (click)="onSearch('Berlin')">Berlín</li>
            <li class="list-group-item" (click)="onSearch('Paris')">Paris</li>
            <li class="list-group-item" (click)="onSearch('Beijing')">Pekín</li>
            <li class="list-group-item" (click)="onSearch('Mexico')">CDMX</li>
        </ul>
    </div>
    <div class="col-6">
        <div class="card" *ngIf="loading">
            <img class="card-img-top" [src]=image alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{city}}
                    <br>
                    <small>Temperatura: {{weatherService.result.temp}} ºC</small>
                    <br>
                    <small>Viento: {{weatherService.result.speed}} m/s</small>
                </h4>
                <h3 class="badge badge-primary">Próximas horas</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item justify-content-between" *ngFor="let item of forecastService.results">
                        {{item.hour}} hrs.
                        <span class="badge badge-default badge-pill">{{item.temp}} ºC</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
